{% extends "layouts/base.html" %}
{% load removespaces %}
{% load addspaces %}


{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
   .thead-light td{
margin: 0 !important;
    }
    #textsmaller td{
        font-size: small !important;
        min-width:fit-content;
    }
.Container{
            height: inherit;
            width: inherit;
            overflow-y: auto;
            background-color: #E9F1F7;
            border-radius: 5px;
            margin: 0 auto;
        }
         
        .Content{
            width: 540px;
            color: white;
            text-align: center;
        }
         
        
        /* ::-webkit-scrollbar {
            width: 3px;
        }

        ::-webkit-scrollbar-track {
            background: gainsboro;
            border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background: black;
            border-radius: 5px;
        }
     

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        } */
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="m-5">
        <div class="panel-header bg-light-gradient">
            <div class="page-inner py-3">
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div>
                            <h2 class="text-black pb-2 fw-bold">FTI-QUERSCHNITTSTHEMEN</h2>
                            <h5 class="text-black op-7 mb-2">Kreislaufwirtschaft</h5>
                        </div>
                    </div>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Add
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a table</h5>
                                    </div>
                                    <form id="formsadd" method="POST" action="addTable" class="row g-3 p-2">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <label class="form-label">Name</label>
                                                <input id="itsName" type="text" name="tablename" class="form-control"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for table in tables %}
            <div class="fluid-container text-center border m-3">
                <table class="table table-responsive" style="overflow-x:overlay;">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row" style="margin: 0px !important; padding: 0px !important;">
                            <h3 class="lead mx-5">{{ table }}</h3>
                            
                            
                        </div>
                        <div class="d-flex">
                        <button class="btn btn-success mx-2 py-0 my-1 px-3" data-bs-toggle="modal"
                                    data-bs-target="#{{ table|addspaces }}{{ i }}">Edit
                        </button>
                        <form method="post" action="deletetable">
                                {% csrf_token %}
                                <input id="oldName" type="text" name="tableoldname" class="form-control" value="{{ table }}" hidden>
                                <button type="submit" class="btn btn-success mx-2 py-0 my-1 px-3" onclick="return confirm('Are you sure?');">Delete</button>
                        </form>
                        <!-- Modal -->
                        <div class="modal fade" id="{{ table|addspaces }}{{ i }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit table</h5>
                                    </div>
                                    <form id="tableedit" method="POST" action="editTable" class="row g-3 p-2">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <input id="oldName" type="text" name="tableoldname" class="form-control"
                                                       value="{{ table }}" hidden>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label" aria-disabled="true">New Name</label>
                                                <input id="itsName" type="text" name="tablenewname" class="form-control"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="button" class="btn btn-success mx-2 my-1 px-3" data-bs-toggle="modal"
                                    data-bs-target="#{{ table|addspaces }}">Add
                            </button>
                        </div>
                    </div>
                        <div class="modal fade" id="{{ table|addspaces }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a row</h5>
                                    </div>
                                    <form id="addrows" method="POST" action="addRows" class="row g-3 p-2">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <input id="tablee" type="text" name="tablee" class="form-control"
                                                   value="{{ table }}" hidden/>

                                            <div class="col-md-12">
                                                <label class="form-label">Name</label>
                                                <input id="Teilindikator" type="text" name="Teilindikator"
                                                       class="form-control" required/>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label">Datenquelle</label>
                                                <div class="d-flex flex-row">
                                                <!-- <div class="m-1">
                                                <label class="form-label">Label</label>
                                                <input id="Datenquelle" type="text" name="Datenquelle"
                                                       class="form-control" required/>
                                                </div> -->
                                                <div class="m-1 mt-4">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span id="selected">Select Label</span>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                      <a class="dropdown-item" href="#">Eurostat</a>
                                                      <a class="dropdown-item" href="#">World Bank</a>
                                                      <a class="dropdown-item" href="#">OECD</a>
                                                    </div>
                                                  </div>
                                                <div class="m-1">
                                                    <label class="form-label">Code</label>
                                                <input id="datasetCode" type="text" name="datasetcode"
                                                       class="form-control" required/>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Teilindikator</th>
                        <th scope="col">Datenquelle</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Status</th>
                        <th scope="col">Wert</th>
                        <th scope="col">Top-3</th>
                        <th scope="col">EU Durchschnitt</th>
                        <th scope="col"></th>
                        <!-- <th scope="col"></th>
                        <th scope="col"></th> -->
                    </tr>
                    </thead>

                    <tbody id="textsmaller">
                    {% for resul in result %}
                        {% if resul.Tables|removespaces == table|removespaces %}
                            <tr>
                                <td>{{ resul.id }}</td>         
                                <td>{{ resul }}</td>
                                <td>{{ resul.Datenquelle }}</td>
                                <td>{{ resul.Datum }}</td>
                                <td style="color: green;font-weight: bolder;">{{ resul.Status }}</td>
                                <td>{{ resul.Wert }}</td>
                                <td>{{ resul.Top3 }}</td>
                                <td>{{ resul.EUDurchschnitt }}</td>
                                <td class="d-flex m-0">
                                    <div class="m-1">
                                    <button class="btn btn-primary text-light"><a class="text-light" href="Krieslaufwirtschaft/{{resul.Code}}"><i class="bi bi-eye"></i></a>
                                    </button></div>
                                    <div class="m-1">
                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target=#{{ resul }}><i class="bi bi-pencil-fill"></i>
                                    </button></div>
                                    <form class="m-1" id="deleteRows" method="post" action="deleterows">{% csrf_token %}<input
                                        id="recordid" type="text" name="recordid" class="form-control"
                                        value={{ resul.id }} hidden/>
                                    <button class="btn btn-primary" data-bs-toggle="modal" onclick="return confirm('Are you sure?');"
                                            data-bs-target=#{{ resul }}{i}><i class="bi bi-trash-fill"></i>
                                    </button>
                                </form>
                                </td>
                                <!-- <td>
                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target=#{{ resul }}><i class="bi bi-pencil-fill"></i>
                                    </button>
                                </td>
                                <td>
                                    <form id="deleteRows" method="post" action="deleterows">{% csrf_token %}<input
                                            id="recordid" type="text" name="recordid" class="form-control"
                                            value={{ resul.id }} hidden/>
                                        <button class="btn btn-primary" data-bs-toggle="modal" onclick="return confirm('Are you sure?');"
                                                data-bs-target=#{{ resul }}{i}><i class="bi bi-trash-fill"></i>
                                        </button>
                                    </form>
                                </td> -->
                            </tr>
                            <div class="modal fade" id={{ resul }} tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit a table</h5>
                                        </div>
                                        <form id="addrows" method="POST" action="editrows" class="row g-3 p-2">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <input id="recordid" type="text" name="recordid" class="form-control"
                                                       value={{ resul.id }} hidden/>
                                                <input id="tablee" type="text" name="tablee" class="form-control"
                                                value="{{ table }}" hidden/>

                                                <div class="col-md-12">
                                                    <label class="form-label">Name</label>
                                                    <input id="Teilindikator" type="text" name="Teilindikator"
                                                           class="form-control" value="{{ resul }}" required/>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="form-label">Datenquelle</label>
                                                    <input id="Datenquelle" type="text" name="Datenquelle"
                                                           class="form-control" value="{{ resul.Datenquelle }}" required/>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="form-label">Code</label>
                                                    <input id="Code" type="text" name="Code"
                                                           class="form-control" value="{{ resul.Code }}" required/>
                                                </div>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            </div>
                        {% endif %}
                    {% endfor %}
            </tbody>
            </table>
            </div>
        {% endfor %}</div></div>
                        </div>
        {% if checking == "yes" %}
        <div id="tableofdata" class="modal d-block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                  <div class="modal-content" style="background-color: #E9F1F7; width: 700px; margin-left: auto; margin-right: auto;">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Data</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <a style="color: black;" href="/dashboard/Krieslaufwirtschaft"> <span aria-hidden="true">Close &times;</span></a>
                                      </button>
                                    </div>
                                    <div class="modal-body m-3" style="height: 570px;">
<div class="Container">
                                        <div class="Content">{% block table %}{% endblock table %}</div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                            {% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$('.dropdown-menu a').click(function(){
    $('#selected').text($(this).text());
  });
</script>
{% endblock javascripts %}
