{% extends 'home/Krieslaufwirtschaft.html' %}
{% block table %}
<table border="1" class="dataframe table table-stripped text-secondary">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
      <th>2020</th>
      <th>2021</th>
      <th>average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Austria</td>
      <td>1240.500</td>
      <td>1253.800</td>
      <td>1296.400</td>
      <td>1301.100</td>
      <td>1363.200</td>
      <td>3006.370</td>
      <td>NaN</td>
      <td>1576.895000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Belgium</td>
      <td>1583.819</td>
      <td>1574.736</td>
      <td>1593.411</td>
      <td>1610.656</td>
      <td>1630.557</td>
      <td>2711.030</td>
      <td>2749.180</td>
      <td>1784.034833</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Czechia</td>
      <td>850.907</td>
      <td>957.598</td>
      <td>1134.204</td>
      <td>1156.496</td>
      <td>1175.322</td>
      <td>1603.042</td>
      <td>1834.730</td>
      <td>1146.261500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Denmark</td>
      <td>1356.000</td>
      <td>1421.000</td>
      <td>1362.000</td>
      <td>1525.000</td>
      <td>1646.234</td>
      <td>1214.273</td>
      <td>536.471</td>
      <td>1420.751167</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Finland</td>
      <td>770.306</td>
      <td>808.310</td>
      <td>770.960</td>
      <td>885.970</td>
      <td>915.672</td>
      <td>980.094</td>
      <td>830.673</td>
      <td>855.218667</td>
    </tr>
    <tr>
      <th>5</th>
      <td>France</td>
      <td>7808.000</td>
      <td>7992.480</td>
      <td>8181.820</td>
      <td>7960.410</td>
      <td>8168.220</td>
      <td>8494.980</td>
      <td>9625.540</td>
      <td>8100.985000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Germany</td>
      <td>25155.000</td>
      <td>25435.000</td>
      <td>25355.000</td>
      <td>24703.640</td>
      <td>24292.930</td>
      <td>24909.520</td>
      <td>25046.520</td>
      <td>24975.181667</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Greece</td>
      <td>698.000</td>
      <td>743.000</td>
      <td>798.000</td>
      <td>829.000</td>
      <td>897.793</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>793.158600</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Hungary</td>
      <td>963.000</td>
      <td>998.000</td>
      <td>1010.000</td>
      <td>1085.000</td>
      <td>1005.000</td>
      <td>872.664</td>
      <td>1028.662</td>
      <td>988.944000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Ireland</td>
      <td>863.170</td>
      <td>935.250</td>
      <td>871.855</td>
      <td>851.294</td>
      <td>857.553</td>
      <td>947.514</td>
      <td>NaN</td>
      <td>887.772667</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Italy</td>
      <td>7864.000</td>
      <td>8093.000</td>
      <td>8218.000</td>
      <td>8675.000</td>
      <td>9048.000</td>
      <td>8003.861</td>
      <td>NaN</td>
      <td>8316.976833</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Luxembourg</td>
      <td>100.880</td>
      <td>135.864</td>
      <td>141.485</td>
      <td>145.027</td>
      <td>145.727</td>
      <td>146.081</td>
      <td>152.304</td>
      <td>135.844000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Netherlands</td>
      <td>2176.000</td>
      <td>2291.000</td>
      <td>2327.000</td>
      <td>2395.000</td>
      <td>2441.000</td>
      <td>2584.000</td>
      <td>2519.000</td>
      <td>2369.000000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Norway</td>
      <td>571.500</td>
      <td>1104.900</td>
      <td>1137.610</td>
      <td>1216.920</td>
      <td>1241.467</td>
      <td>1015.404</td>
      <td>1234.189</td>
      <td>1047.966833</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Poland</td>
      <td>2867.000</td>
      <td>3243.478</td>
      <td>3198.680</td>
      <td>3269.050</td>
      <td>3192.053</td>
      <td>3498.629</td>
      <td>3680.679</td>
      <td>3211.481667</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Portugal</td>
      <td>677.772</td>
      <td>699.044</td>
      <td>604.135</td>
      <td>638.465</td>
      <td>642.581</td>
      <td>673.228</td>
      <td>726.177</td>
      <td>655.870833</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Slovakia</td>
      <td>136.230</td>
      <td>291.070</td>
      <td>433.310</td>
      <td>603.240</td>
      <td>616.162</td>
      <td>810.452</td>
      <td>900.911</td>
      <td>481.744000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Spain</td>
      <td>3892.000</td>
      <td>3944.800</td>
      <td>4032.900</td>
      <td>4008.902</td>
      <td>4379.159</td>
      <td>4488.687</td>
      <td>4262.194</td>
      <td>4124.408000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Sweden</td>
      <td>1418.490</td>
      <td>1434.510</td>
      <td>1425.820</td>
      <td>1319.660</td>
      <td>1496.810</td>
      <td>898.350</td>
      <td>866.520</td>
      <td>1332.273333</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Switzerland</td>
      <td>1924.000</td>
      <td>1874.000</td>
      <td>1846.000</td>
      <td>1856.000</td>
      <td>1817.000</td>
      <td>1816.000</td>
      <td>1862.400</td>
      <td>1855.500000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>United Kingdom</td>
      <td>8557.788</td>
      <td>8639.750</td>
      <td>8324.172</td>
      <td>8385.508</td>
      <td>8308.999</td>
      <td>8027.924</td>
      <td>NaN</td>
      <td>8374.023500</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Estonia</td>
      <td>117.390</td>
      <td>124.590</td>
      <td>126.530</td>
      <td>130.070</td>
      <td>138.628</td>
      <td>133.179</td>
      <td>141.869</td>
      <td>128.397833</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Slovenia</td>
      <td>430.040</td>
      <td>379.720</td>
      <td>411.740</td>
      <td>428.520</td>
      <td>446.716</td>
      <td>459.605</td>
      <td>492.630</td>
      <td>426.056833</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Turkey</td>
      <td>NaN</td>
      <td>2946.000</td>
      <td>2982.000</td>
      <td>3848.000</td>
      <td>3901.981</td>
      <td>4146.271</td>
      <td>NaN</td>
      <td>3564.850400</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Latvia</td>
      <td>182.000</td>
      <td>120.851</td>
      <td>141.326</td>
      <td>150.246</td>
      <td>302.455</td>
      <td>294.231</td>
      <td>NaN</td>
      <td>198.518167</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Lithuania</td>
      <td>298.172</td>
      <td>312.268</td>
      <td>310.807</td>
      <td>315.390</td>
      <td>362.528</td>
      <td>329.152</td>
      <td>354.259</td>
      <td>321.386167</td>
    </tr>
  </tbody>
</table>{% endblock %}