{% extends 'home/Krieslaufwirtschaft.html' %}
{% block table %}
<table border="1" class="dataframe table table-stripped text-secondary">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>geo\TIME_PERIOD</th>
      <th>2010</th>
      <th>2012</th>
      <th>2014</th>
      <th>2016</th>
      <th>2018</th>
      <th>2020</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AT</td>
      <td>60.0</td>
      <td>65.0</td>
      <td>62.0</td>
      <td>66.0</td>
      <td>63.0</td>
      <td>63.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BE</td>
      <td>75.0</td>
      <td>80.0</td>
      <td>81.0</td>
      <td>78.0</td>
      <td>81.0</td>
      <td>87.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>BG</td>
      <td>27.0</td>
      <td>14.0</td>
      <td>17.0</td>
      <td>27.0</td>
      <td>23.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>CY</td>
      <td>46.0</td>
      <td>34.0</td>
      <td>31.0</td>
      <td>31.0</td>
      <td>32.0</td>
      <td>44.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>CZ</td>
      <td>50.0</td>
      <td>58.0</td>
      <td>60.0</td>
      <td>60.0</td>
      <td>61.0</td>
      <td>59.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>DE</td>
      <td>55.0</td>
      <td>54.0</td>
      <td>53.0</td>
      <td>NaN</td>
      <td>53.0</td>
      <td>55.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>DK</td>
      <td>56.0</td>
      <td>59.0</td>
      <td>60.0</td>
      <td>61.0</td>
      <td>59.0</td>
      <td>63.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>EE</td>
      <td>22.0</td>
      <td>25.0</td>
      <td>19.0</td>
      <td>10.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>EL</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>27.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ES</td>
      <td>44.0</td>
      <td>46.0</td>
      <td>46.0</td>
      <td>46.0</td>
      <td>47.0</td>
      <td>48.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>EU27_2020</td>
      <td>53.0</td>
      <td>53.0</td>
      <td>54.0</td>
      <td>55.0</td>
      <td>56.0</td>
      <td>58.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>FI</td>
      <td>33.0</td>
      <td>41.0</td>
      <td>41.0</td>
      <td>37.0</td>
      <td>37.0</td>
      <td>40.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>FR</td>
      <td>50.0</td>
      <td>51.0</td>
      <td>53.0</td>
      <td>54.0</td>
      <td>52.0</td>
      <td>47.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>HR</td>
      <td>26.0</td>
      <td>35.0</td>
      <td>47.0</td>
      <td>52.0</td>
      <td>56.0</td>
      <td>60.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>HU</td>
      <td>36.0</td>
      <td>35.0</td>
      <td>40.0</td>
      <td>43.0</td>
      <td>49.0</td>
      <td>54.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>IE</td>
      <td>36.0</td>
      <td>37.0</td>
      <td>45.0</td>
      <td>41.0</td>
      <td>41.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>IT</td>
      <td>60.0</td>
      <td>64.0</td>
      <td>67.0</td>
      <td>68.0</td>
      <td>67.0</td>
      <td>72.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>LT</td>
      <td>50.0</td>
      <td>51.0</td>
      <td>57.0</td>
      <td>68.0</td>
      <td>72.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>LU</td>
      <td>87.0</td>
      <td>77.0</td>
      <td>62.0</td>
      <td>64.0</td>
      <td>70.0</td>
      <td>71.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>LV</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>50.0</td>
      <td>70.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>MT</td>
      <td>24.0</td>
      <td>28.0</td>
      <td>27.0</td>
      <td>43.0</td>
      <td>28.0</td>
      <td>25.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>NL</td>
      <td>71.0</td>
      <td>71.0</td>
      <td>72.0</td>
      <td>72.0</td>
      <td>66.0</td>
      <td>74.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>PL</td>
      <td>58.0</td>
      <td>55.0</td>
      <td>60.0</td>
      <td>56.0</td>
      <td>60.0</td>
      <td>52.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>PT</td>
      <td>47.0</td>
      <td>49.0</td>
      <td>54.0</td>
      <td>52.0</td>
      <td>40.0</td>
      <td>39.0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>RO</td>
      <td>26.0</td>
      <td>28.0</td>
      <td>27.0</td>
      <td>30.0</td>
      <td>29.0</td>
      <td>37.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>SE</td>
      <td>51.0</td>
      <td>53.0</td>
      <td>51.0</td>
      <td>49.0</td>
      <td>50.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>SI</td>
      <td>52.0</td>
      <td>74.0</td>
      <td>75.0</td>
      <td>80.0</td>
      <td>82.0</td>
      <td>80.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>SK</td>
      <td>38.0</td>
      <td>40.0</td>
      <td>40.0</td>
      <td>44.0</td>
      <td>50.0</td>
      <td>60.0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>UK</td>
      <td>55.0</td>
      <td>56.0</td>
      <td>57.0</td>
      <td>58.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>{% endblock %}