<div class="main-header">


    <div class="logo-header" style="background-color: #ccffe6;">

        <a href="/dashboard" class="logo">
            DASHBOARD
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-bs-target="#sidebar"
                data-bs-toggle="collapse" aria-controls="sidebar">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" aria-controls="sidebar">
                <span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span></a>
        </button>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button> -->
        <!--  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                 aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon-options-vertical"></i>
         </button> -->
        <div class="nav-toggle">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" aria-controls="sidebar">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="icon-menu"></i>
                </button>
            </a>
        </div>
    </div>

    <nav class="navbar navbar-header navbar-expand-lg" style="background-color: #ccffe6;">

        {% if request.user.is_authenticated %}
            <div class="container-fluid">


                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                        <li class="nav-item dropdown hidden-caret">
                            <a class="icon-logout" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </nav>
</div>
