		<!-- Sidebar -->
		<style>
		</style>
		<div class="d-flex">
		<div class="sidebar collapse collapse-vertical show border-end" id="sidebar" data-background-color="light2" style="position: relative;">	
					
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a href="/dashboard" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-section">

							<h4 class="text-section">FTI INDIKATOREN</h4>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#base">
								
									<p>FTI-RAHMENBEDINGUNGEN</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base">
								<ul class="nav nav-collapse">
									<li>
										<a href="">
											<span class="sub-item">Regulierung und Steuern</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">Internationale Verflechtung</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">Bildung</span>
										</a>
									</li>
									
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'layout' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#sidebarLayouts">
								
								<p>FTI-KERNSYSTEM</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="sidebarLayouts">
								<ul class="nav nav-collapse">
									<li>
										<a href="">
											<span class="sub-item">Finanzierung</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">Tertiare Bildung</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">Akademische Forschung</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">Unternehmens-FTI</span>
										</a>
									</li>
									<li>
										<a href="/">
											<span class="sub-item">Grundungen</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'form' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#forms">
								
								<p>FTI-QUERSCHNITTSTHEMEN</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="forms">
								<ul class="nav nav-collapse">
									<li>
										<a href="">
											<span class="sub-item">Geschlechtergerechtigkeit</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">Digitalisierung</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">Umwelt and Klima</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">Standortattraktivitat</span>
										</a>
									</li>
									<li>
										<a href="Krieslaufwirtschaft">
											<span class="sub-item">Krieslaufwirtschaft</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'tables' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#tables">
								
								<p>EFFIZIENZ</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="tables">
								<ul class="nav nav-collapse">
									<li>
										<a href="">
											<span class="sub-item">Effizienz</span>
										</a>
									</li>
									<li>
										<a href="/">
											<span class="sub-item">Effektivitat</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<a href="">
								<p>Profile</p>
							</a>
						</li>
						<li class="nav-item ">
							<a href="">
								<p>Contact</p>
							</a>
						</li>
						<li class="nav-item ">
							<a href="/register">
								<p>Register</p>
							</a>
						</li>
						<li class="nav-item ">
							<a href="/">
								<p>Login</p>
							</a>
						</li>
						<li class="nav-item ">
								<a href="/logout">
								<p>Logout</p>
								</a>
							</a>
						</li>
						

						
					</ul>

			</div>
		
		<script>
			function toggle(){
				if(document.getElementById("togglingid").style.display=="none"){
				document.getElementById("togglingid").style.display="none";
				}
				else{
					document.getElementById("togglingid").style.display="block";
				}
				console.log("toggled");
			}
			
		</script>
        <!-- End Sidebar -->
        
